@model react.microblog.Models.Pager<react.microblog.Models.VMicroBlogItem>
<!DOCTYPE html>
<html>
<head>
    <title>热门微博</title>
    <link rel="stylesheet" href="~/css/public.css" />
    <link rel="stylesheet" href="~/css/community.css" />
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/slideImg.js"></script>
    <script>

        $(document).on('click', '.imgList', function () {
            //图片浏览插件
            $(".imgList").slideImg();
        })
    </script>
</head>
<body>

    <!-- Render the component server-side, passing initial props -->
    @Html.React("Components.BlogBox", new { initBlogs = Model.Items })

    <!-- Load all required scripts (React + the site's scripts) -->

    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
   
    <script src="@Url.Content("~/build/client.bundle.js")"></script>

    <!-- Render the code to initialise the component -->
    @Html.ReactInitJavaScript()


</body>
</html>